# diff-xjoules files

/target
test_resources/target/
Cargo.lock

# diff-jjoules files

diff-jjoules/target/
diff-jjoules/.idea/
diff-jjoules/*.iml
diff-jjoules/src/test/resources/diff-jjoules-toy-java-project/target/
diff-jjoules/src/test/resources/diff-jjoules-toy-java-project/diff-jjoules-toy-java-project.iml
diff-jjoules/src/test/resources/diff-jjoules-toy-java-project-v2/target/
diff-jjoules/src/test/resources/diff-jjoules-toy-java-project-v2/diff-jjoules-toy-java-project.iml
diff-jjoules/src/test/resources/diff-jjoules-toy-java-project/classpath
diff-jjoules/src/test/resources/diff-jjoules-toy-java-project-v2/classpath
diff-jjoules/spooned
diff-jjoules/src/test/resources/diff-jjoules-toy-java-project/*.backup
diff-jjoules/src/test/resources/diff-jjoules-toy-java-project-v2/*.backup
diff-jjoules/src/test/resources/diff-jjoules-toy-java-project/diff-measurements/
diff-jjoules/src/test/resources/diff-jjoules-toy-java-project-v2/diff-measurements/
diff-jjoules/output_example/
diff-jjoules/output_gson/

# changelog-generator files

changelog-generator/node_modules
changelog-generator/package-lock.json

# diff-jsjoules files

diff-jsjoules/target
diff-jsjoules/coverage
diff-jsjoules/node_modules
diff-jsjoules/package-lock.json
diff-jsjoules/test_resources/diff-jsjoules-toy-nodejs-project/node_modules
diff-jsjoules/test_resources/diff-jsjoules-toy-nodejs-project/package-lock.json
diff-jsjoules/test_resources/diff-jsjoules-toy-nodejs-project/coverage/
diff-jsjoules/test_resources/diff-jsjoules-toy-nodejs-project-v2/node_modules
diff-jsjoules/test_resources/diff-jsjoules-toy-nodejs-project-v2/package-lock.json
diff-jsjoules/test_resources/diff-jsjoules-toy-nodejs-project-v2/coverage/